@font-face {
    font-family: 'Creato Display Medium';
    src: url('fonts/CreatoDisplay-Medium.otf') format ('opentype');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display Thin';
    src: url('fonts/CreatoDisplay-Thin.otf') format ('opentype');
    font-weight: thin;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: bold; 
    font-style: normal;
    font-display: swap;
}  

body {
    background-color: #5e1414;
    margin-left: 32px;
    margin-top: 17px;
}